<div data-controller="slideshow" >
  <button data-action="slideshow#previous">←</button>
  <button data-action="slideshow#next">→</button>
  <div data-slideshow-target="slide">🐵1🐵</div>
  <div data-slideshow-target="slide">🙈2🙈</div>
  <div data-slideshow-target="slide">🙉3🙉</div>
  <div data-slideshow-target="slide">🙊4🙊</div>
</div>